
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-615147453678682926.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-615147453678682926.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-615147453678682926.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-615147453678682926.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-615147453678682926.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-615147453678682926.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-615147453678682926.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-615147453678682926.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-615147453678682926.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-615147453678682926.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-615147453678682926.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-615147453678682926.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-615147453678682926.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-615147453678682926.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-615147453678682926.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-615147453678682926.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-615147453678682926.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-615147453678682926.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-615147453678682926.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-615147453678682926.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-615147453678682926.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-615147453678682926.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-615147453678682926.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-615147453678682926.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-615147453678682926.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-615147453678682926.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-615147453678682926.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-615147453678682926.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-615147453678682926.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-615147453678682926.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-615147453678682926.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-615147453678682926.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-615147453678682926.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-615147453678682926.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-615147453678682926.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-615147453678682926.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-615147453678682926.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-615147453678682926.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-615147453678682926.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-615147453678682926.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-615147453678682926.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-615147453678682926.gps.gpsil [style*="--tdc:"]{text-decoration-color:var(--tdc)}.gps-615147453678682926.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-615147453678682926.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-615147453678682926.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-615147453678682926.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-615147453678682926.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-615147453678682926.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-615147453678682926.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-615147453678682926.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-615147453678682926.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-615147453678682926.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-615147453678682926.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-615147453678682926.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-615147453678682926.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-615147453678682926.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-615147453678682926.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-615147453678682926.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-615147453678682926.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-615147453678682926.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-615147453678682926.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-615147453678682926.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-615147453678682926.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-615147453678682926.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-615147453678682926.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-615147453678682926.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-615147453678682926.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-615147453678682926.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-615147453678682926.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-615147453678682926.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-615147453678682926.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-615147453678682926.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-615147453678682926.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-615147453678682926.gps.gpsil [style*="--t-tablet:"]{transform:var(--t-tablet)}.gps-615147453678682926.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-615147453678682926.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-615147453678682926.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-615147453678682926.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-615147453678682926.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-615147453678682926.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-615147453678682926.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-615147453678682926.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-615147453678682926.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-615147453678682926.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-615147453678682926.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-615147453678682926.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-615147453678682926.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-615147453678682926.gps.gpsil [style*="--t-mobile:"]{transform:var(--t-mobile)}.gps-615147453678682926.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-615147453678682926 .gp-invisible{visibility:hidden}.gps-615147453678682926 .gp-absolute{position:absolute}.gps-615147453678682926 .gp-relative{position:relative}.gps-615147453678682926 .gp-sticky{position:sticky}.gps-615147453678682926 .gp-z-1{z-index:1}.gps-615147453678682926 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-615147453678682926 .gp-mb-0{margin-bottom:0}.gps-615147453678682926 .gp-flex{display:flex}.gps-615147453678682926 .gp-inline-flex{display:inline-flex}.gps-615147453678682926 .gp-grid{display:grid}.gps-615147453678682926 .\!gp-hidden{display:none!important}.gps-615147453678682926 .gp-hidden{display:none}.gps-615147453678682926 .gp-h-5{height:20px}.gps-615147453678682926 .gp-h-full{height:100%}.gps-615147453678682926 .gp-w-5{width:20px}.gps-615147453678682926 .gp-max-w-full{max-width:100%}.gps-615147453678682926 .gp-shrink-0{flex-shrink:0}.gps-615147453678682926 .gp-cursor-default{cursor:default}.gps-615147453678682926 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-615147453678682926 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-615147453678682926 .gp-flex-col{flex-direction:column}.gps-615147453678682926 .gp-items-center{align-items:center}.gps-615147453678682926 .gp-justify-center{justify-content:center}.gps-615147453678682926 .gp-overflow-hidden{overflow:hidden}.gps-615147453678682926 .gp-break-words{overflow-wrap:break-word}.gps-615147453678682926 .gp-text-center{text-align:center}.gps-615147453678682926 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-615147453678682926 .gp-no-underline{text-decoration-line:none}.gps-615147453678682926 .gp-opacity-25{opacity:.25}.gps-615147453678682926 .gp-opacity-30{opacity:.3}.gps-615147453678682926 .gp-opacity-75{opacity:.75}.gps-615147453678682926 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-615147453678682926 .gp-duration-200{transition-duration:.2s}.gps-615147453678682926 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-615147453678682926 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-615147453678682926 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-615147453678682926 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-615147453678682926 .data-\[hidden\=true\]\:\!gp-hidden[data-hidden=true]{display:none!important}.gps-615147453678682926 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-615147453678682926 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-615147453678682926 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1024px){.gps-615147453678682926 .tablet\:\!gp-hidden{display:none!important}.gps-615147453678682926 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-615147453678682926 .mobile\:\!gp-hidden{display:none!important}.gps-615147453678682926 .mobile\:gp-hidden{display:none}}.gps-615147453678682926 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-615147453678682926 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-615147453678682926 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-615147453678682926 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-615147453678682926 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-615147453678682926 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    
    <gp-sticky
    data-id="g4cUE9Aso4"
      gp-data='{"uid":"g4cUE9Aso4","setting":{"display":{"desktop":"after-first-cart-button","tablet":"after-first-cart-button","mobile":"after-first-cart-button"}},"advanced":{"d":{"desktop":true,"mobile":true,"tablet":true}}}'
      id="g4cUE9Aso4"
      data-id="g4cUE9Aso4"
      class="sticky-wrapper  g4cUE9Aso4 undefined {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
      style="--w:100%;margin:0 auto;--left:50%;--t:translateX(-50%);--left-tablet:50%;--t-tablet:translateX(-50%);--left-mobile:50%;--t-mobile:translateX(-50%);--top:auto;--bottom:0;--pos:fixed;--d:none;--top-tablet:auto;--bottom-tablet:0;--pos-tablet:fixed;--d-tablet:none;--top-mobile:auto;--bottom-mobile:0;--pos-mobile:fixed;--d-mobile:none;z-index:999"
    >
      <style>.drawer-page-content {
       transform: none !important;
      -webkit-transform: none !important;
  }</style>
      <div  style="--m:0 auto;--pt:0px;--pb:0px;--pr:0px;--pl:0px;--pt-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pl-mobile:0px;--bs:solid;--bw:0px;--bc:#121212;--shadow:0px 0px 10px 0px #0000001a;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:#6CCE9E;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        <div
      data-same-height-display-contents
      
      class="gkdLSUzRCq gp-relative gp-flex gp-flex-col"
    >
      
    
      {%- assign gpBkProduct = product -%}
      
      {%- liquid
        if request.page_type != 'product'
          assign product = all_products['bebe-grignoteuse-avec-2-grignoteuses-a-fruits-et-8-tailles-de-tetines-sans-bpa-diversification-alimentaire-pour-enfants-de-3-a-24-mois-rose-et-bleu']
          assign productId = '8837082087591' | times: 1
          if product == empty or product == null
            paginate collections.all.products by 100000
              for item in collections.all.products
                if item.id == productId
                  assign product = item
                endif
              endfor
            endpaginate
          endif
        endif
      -%}
    
    
    {% if product != empty and product != null %}
      
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "gCDEN8JkVT" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
    
      <gp-product
        data-uid="gCDEN8JkVT"
        data-id="gCDEN8JkVT"
        
        
        gp-context='{"productId": {{ product.id }}, "preSelectedOptionIds": [], "isSyncProduct": "true", "hasPreSelected": false, "variantSelected": {{ variant | json | escape }},  "inventory_management": {{ variant.inventory_management | json | escape  }}, "inventory_policy": {{ variant.inventory_policy | json | escape }}, "inventoryQuantity": {{ variant.inventory_quantity | default: 0 }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }}}'
      >
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gCDEN8JkVT"}' data-id="gCDEN8JkVT-row" id="gCDEN8JkVT" data-same-height-subgrid-container class="gCDEN8JkVT gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-l);--pl:15px;--pb:var(--g-s-l);--pr:15px;--pt-mobile:10px;--pl-mobile:15px;--pb-mobile:10px;--pr-mobile:15px;--cg:32px;--cg-tablet:12px;--rg:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1230px;--w-tablet:100%;--w-mobile:100%;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--d-mobile:none"
      class="g7SAdDrwqk gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g8S0FKYumh gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g8wLqJJlil"}' data-id="g8wLqJJlil" id="g8wLqJJlil" data-same-height-subgrid-container class="g8wLqJJlil gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--cg:32px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="ghtY207rTi gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gp2A9b9qf_"}' data-id="gp2A9b9qf_" id="gp2A9b9qf_" data-same-height-subgrid-container class="gp2A9b9qf_ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--cg:var(--g-s-s);--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g4Y82HQc0v gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        id="shopify-text-element-gb8cmLOS6d" data-id="gb8cmLOS6d"
        class="gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:!gp-hidden gb8cmLOS6d"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px"
        gp-data='{"priceType":"regular","uid":"gb8cmLOS6d","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
      >
        
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div id="p-price-gb8cmLOS6d" data-id
        
        style="--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-price gp-money  gp-text-instant"
          style="--w:100%;--tdc:#FFFFFF;--tdt:1px;--ta:left;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:0px;word-break:break-word;overflow:hidden;--tdl:"
        >
          
     {% if variant.price %}
       {{ variant.price | money}}
     {% endif %}
   
        </div>
      </div>
    </div>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-price-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="grILmY30sn gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        id="shopify-text-element-gbnVPK7nq3" data-id="gbnVPK7nq3" data-hidden="{% if variant.compare_at_price > variant.price and variant.compare_at_price >= 0 %}false{% else %}true{% endif %}"
        class="gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:!gp-hidden gbnVPK7nq3"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px"
        gp-data='{"priceType":"compare","uid":"gbnVPK7nq3","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
      >
        
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div id="p-price-gbnVPK7nq3" data-id
        
        style="--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-price gp-product-compare-price  gp-text-instant"
          style="--w:100%;--tdc:#FFFFFF;--tdt:auto;--ta:left;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:0px;word-break:break-word;overflow:hidden;--tdl:line-through"
        >
          
      {% if variant.compare_at_price  %}
        {{ variant.compare_at_price | money}}
      {% else %}

      {% endif %}
    
        </div>
      </div>
    </div>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-price-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gOzSnyuBm2 gp-relative gp-flex gp-flex-col"
    >
      
    {%- assign total_combinations = 1 -%}
    {% for option in product.options_with_values %}{%- assign total_combinations = total_combinations | times: option.values.size -%}{% endfor %}
    {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
      assign is_in_stock = variant.available
    -%}
    <gp-product-button
      
      gp-data-wrapper="true"
      gp-href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/cart"
      class="gp-product-button"
      gp-label-out-of-stock="{{ section.settings.ggezJ629nQ1_outOfStockLabel }}"
      gp-label-unavailable="{{ section.settings.ggezJ629nQ1_unavailableLabel }}"
      gp-data='{"styles":{"errorTypo":{"attrs":{"color":"error"},"type":"paragraph-2"},"successTypo":{"attrs":{"color":"success"},"type":"paragraph-2"}},"setting":{"errorType":"built-in","actionEffect":"open-cart-drawer","enableMessage":true,"label":"Let’s lay & play","errorMessage":"{{ section.settings.ggezJ629nQ1_errorMessage }}","successMessage":"{{ section.settings.ggezJ629nQ1_successMessage }}","outOfStockLabel":"Out of stock","customURL":{"link":"/cart","target":"_self"}},"variantID":"{{variant.id}}","disabled":"{{variant.available}}","totalVariant":"{{total_combinations}}"}'
      data-variant-selection-required-message=""
      gp-enable-third-partycart="{{shop.metafields.GEMPAGES.enableThirdPartyCart}}"
    >
      
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--ta:left" class="{% unless variant.available %} !gp-hidden {% endunless %}">
        <style>[data-id="gezJ629nQ1"].gp-button-base::before, [data-id="gezJ629nQ1-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
    
      border-bottom-left-radius: 99px;
      border-bottom-right-radius: 99px;
      border-top-left-radius: 99px;
      border-top-right-radius: 99px;
      
  
    }
  
      
  [data-id="gezJ629nQ1"]:hover::before, [data-id="gezJ629nQ1-interaction"]:hover::before {
    border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #4D4D4D;
  
    
  }</style>
        
        <button
          data-id="gezJ629nQ1" dataId="gezJ629nQ1" data-state="idle" aria-label="Let’s lay & play"
          name="add" gp-data-hidden="{% unless variant.available %}true{% endunless %}"
          type="submit"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:99px;--bbrr:99px;--btlr:99px;--btrr:99px;--hvr-bblr:99px;--hvr-bbrr:99px;--hvr-btlr:99px;--hvr-btrr:99px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#971F1C;--bg:#FF605C;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:0px;--tt:uppercase"
          class="gp-button-atc tcustomizer-submit-button gezJ629nQ1 gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3  undefined"
        >
        
  <svg
    class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
  >
    <circle
      class="gp-opacity-25"
      cx="12"
      cy="12"
      r="10"
      stroke="currentColor"
      stroke-width="4"
    ></circle>
    <path
      class="gp-opacity-75"
      fill="currentColor"
      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
    ></path>
  </svg>

        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:0px;--tt:uppercase;word-break:break-word;--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg style="width: 100%; height: 100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.5625 19.6875C9.5625 19.8958 9.66667 20 9.875 20H25.3125V22.6875H9.3125C8.60417 22.6875 7.97917 22.4167 7.4375 21.875C6.9375 21.3333 6.6875 20.7083 6.6875 20C6.6875 19.5833 6.79167 19.1667 7 18.75L8.8125 15.4375L4 5.3125H1.3125V2.6875H5.6875C6.52083 4.4375 7.35417 6.20833 8.1875 8C8.39583 8.375 8.875 9.375 9.625 11C10.375 12.5833 10.9583 13.8125 11.375 14.6875H20.75C23.875 9.02083 25.5833 5.89583 25.875 5.3125L28.1875 6.625L23.0625 15.9375C22.5625 16.8542 21.7917 17.3125 20.75 17.3125H10.8125L9.625 19.5L9.5625 19.6875ZM20.8125 24.8125C21.3542 24.2708 21.9792 24 22.6875 24C23.3958 24 24 24.2708 24.5 24.8125C25.0417 25.3542 25.3125 25.9792 25.3125 26.6875C25.3125 27.3958 25.0417 28.0208 24.5 28.5625C24 29.0625 23.3958 29.3125 22.6875 29.3125C21.9792 29.3125 21.3542 29.0625 20.8125 28.5625C20.2708 28.0208 20 27.3958 20 26.6875C20 25.9792 20.2708 25.3542 20.8125 24.8125ZM7.4375 24.8125C7.97917 24.2708 8.60417 24 9.3125 24C10.0208 24 10.6458 24.2708 11.1875 24.8125C11.7292 25.3542 12 25.9792 12 26.6875C12 27.3958 11.7292 28.0208 11.1875 28.5625C10.6458 29.0625 10.0208 29.3125 9.3125 29.3125C8.60417 29.3125 7.97917 29.0625 7.4375 28.5625C6.9375 28.0208 6.6875 27.3958 6.6875 26.6875C6.6875 25.9792 6.9375 25.3542 7.4375 24.8125ZM14.6875 12V8H10.6875V5.3125H14.6875V1.3125H17.3125V5.3125H21.3125V8H17.3125V12H14.6875Z" fill="#D6D6D6"/></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:0px;--tt:uppercase;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggezJ629nQ1_label }}
    </span>
        </div>
        
    
    
  
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--ta:left" class="{% if variant.available %} !gp-hidden {% endif %}">
        <style>[data-id="gezJ629nQ1-sold-out"].gp-button-base::before, [data-id="gezJ629nQ1-sold-out-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
    
      border-bottom-left-radius: 99px;
      border-bottom-right-radius: 99px;
      border-top-left-radius: 99px;
      border-top-right-radius: 99px;
      
  
    }
  
      
  [data-id="gezJ629nQ1-sold-out"]:hover::before, [data-id="gezJ629nQ1-sold-out-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gezJ629nQ1-sold-out" dataId="gezJ629nQ1-sold-out" data-state="idle" aria-label="{{ section.settings.ggezJ629nQ1_outOfStockLabel }}"
          gp-data-hidden="{% if variant.available %}true{% endif %}"
          type="button"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:99px;--bbrr:99px;--btlr:99px;--btrr:99px;--hvr-bblr:99px;--hvr-bbrr:99px;--hvr-btlr:99px;--hvr-btrr:99px;--bgi:;--hvr-bgi:;--bg:#FF605C;--hvr-bg:#FF605C;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:0px;--tt:uppercase"
          class="gp-cursor-default gp-opacity-30 btn-disabled gp-button-sold-out gezJ629nQ1-sold-out gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:0px;--tt:uppercase;word-break:break-word;--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg style="width: 100%; height: 100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.5625 19.6875C9.5625 19.8958 9.66667 20 9.875 20H25.3125V22.6875H9.3125C8.60417 22.6875 7.97917 22.4167 7.4375 21.875C6.9375 21.3333 6.6875 20.7083 6.6875 20C6.6875 19.5833 6.79167 19.1667 7 18.75L8.8125 15.4375L4 5.3125H1.3125V2.6875H5.6875C6.52083 4.4375 7.35417 6.20833 8.1875 8C8.39583 8.375 8.875 9.375 9.625 11C10.375 12.5833 10.9583 13.8125 11.375 14.6875H20.75C23.875 9.02083 25.5833 5.89583 25.875 5.3125L28.1875 6.625L23.0625 15.9375C22.5625 16.8542 21.7917 17.3125 20.75 17.3125H10.8125L9.625 19.5L9.5625 19.6875ZM20.8125 24.8125C21.3542 24.2708 21.9792 24 22.6875 24C23.3958 24 24 24.2708 24.5 24.8125C25.0417 25.3542 25.3125 25.9792 25.3125 26.6875C25.3125 27.3958 25.0417 28.0208 24.5 28.5625C24 29.0625 23.3958 29.3125 22.6875 29.3125C21.9792 29.3125 21.3542 29.0625 20.8125 28.5625C20.2708 28.0208 20 27.3958 20 26.6875C20 25.9792 20.2708 25.3542 20.8125 24.8125ZM7.4375 24.8125C7.97917 24.2708 8.60417 24 9.3125 24C10.0208 24 10.6458 24.2708 11.1875 24.8125C11.7292 25.3542 12 25.9792 12 26.6875C12 27.3958 11.7292 28.0208 11.1875 28.5625C10.6458 29.0625 10.0208 29.3125 9.3125 29.3125C8.60417 29.3125 7.97917 29.0625 7.4375 28.5625C6.9375 28.0208 6.6875 27.3958 6.6875 26.6875C6.6875 25.9792 6.9375 25.3542 7.4375 24.8125ZM14.6875 12V8H10.6875V5.3125H14.6875V1.3125H17.3125V5.3125H21.3125V8H17.3125V12H14.6875Z" fill="#D6D6D6"/></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:0px;--tt:uppercase;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggezJ629nQ1_outOfStockLabel }}
    </span>
        </div>
        
    
    
  
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </gp-product-button>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ 'gempages.Product.product_not_found' | t }}</div>
    {% endif %}
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
      </div>
    </gp-sticky>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-sticky-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-615147453678682926 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tsm1xx-x0/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=615147438646231856&sectionId=615147453678682926)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggezJ629nQ1_label","label":"ggezJ629nQ1_label","default":"Let’s lay & play"},{"type":"html","id":"ggezJ629nQ1_outOfStockLabel","label":"ggezJ629nQ1_outOfStockLabel","default":"Out of stock"},{"type":"html","id":"ggezJ629nQ1_unavailableLabel","label":"ggezJ629nQ1_unavailableLabel","default":"Unavailable"},{"type":"html","id":"ggezJ629nQ1_successMessage","label":"ggezJ629nQ1_successMessage","default":"Add product to cart successfully"},{"type":"html","id":"ggezJ629nQ1_errorMessage","label":"ggezJ629nQ1_errorMessage","default":"Cannot add product to cart"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}