
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-615147453678682926.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-615147453678682926.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-615147453678682926.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-615147453678682926.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-615147453678682926.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-615147453678682926.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-615147453678682926.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-615147453678682926.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-615147453678682926.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-615147453678682926.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-615147453678682926.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-615147453678682926.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-615147453678682926.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-615147453678682926.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-615147453678682926.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-615147453678682926.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-615147453678682926.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-615147453678682926.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-615147453678682926.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-615147453678682926.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-615147453678682926.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-615147453678682926.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-615147453678682926.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-615147453678682926.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-615147453678682926.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-615147453678682926.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-615147453678682926.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-615147453678682926.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-615147453678682926.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-615147453678682926.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-615147453678682926.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-615147453678682926.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-615147453678682926.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-615147453678682926.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-615147453678682926.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-615147453678682926.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-615147453678682926.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-615147453678682926.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-615147453678682926.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-615147453678682926.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-615147453678682926.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-615147453678682926.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-615147453678682926.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-615147453678682926.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-615147453678682926.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-615147453678682926.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-615147453678682926.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-615147453678682926.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-615147453678682926.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-615147453678682926.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-615147453678682926.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-615147453678682926.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-615147453678682926.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-615147453678682926.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-615147453678682926.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-615147453678682926.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-615147453678682926.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-615147453678682926.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-615147453678682926.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-615147453678682926.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-615147453678682926.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-615147453678682926.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-615147453678682926.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-615147453678682926.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-615147453678682926.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-615147453678682926.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-615147453678682926.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-615147453678682926.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-615147453678682926.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-615147453678682926.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-615147453678682926.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-615147453678682926.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-615147453678682926.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-615147453678682926.gps.gpsil [style*="--t-tablet:"]{transform:var(--t-tablet)}.gps-615147453678682926.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-615147453678682926.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-615147453678682926.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-615147453678682926.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-615147453678682926.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-615147453678682926.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-615147453678682926.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-615147453678682926.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-615147453678682926.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-615147453678682926.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-615147453678682926.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-615147453678682926.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-615147453678682926.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-615147453678682926.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-615147453678682926.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-615147453678682926.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-615147453678682926.gps.gpsil [style*="--t-mobile:"]{transform:var(--t-mobile)}.gps-615147453678682926.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-615147453678682926 .gp-rotate-0,.gps-615147453678682926 .gp-rotate-180,.gps-615147453678682926 .mobile\:gp-rotate-0,.gps-615147453678682926 .mobile\:gp-rotate-180,.gps-615147453678682926 .tablet\:gp-rotate-0,.gps-615147453678682926 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-615147453678682926 .gp-g-subheading-2{font-family:var(--g-sh2-ff);font-size:var(--g-sh2-size);font-style:var(--g-sh2-fs);font-weight:var(--g-sh2-weight);letter-spacing:var(--g-sh2-ls);line-height:var(--g-sh2-lh)}.gps-615147453678682926 .gp-g-paragraph-2{font-family:var(--g-p2-ff);font-size:var(--g-p2-size);font-style:var(--g-p2-fs);font-weight:var(--g-p2-weight);letter-spacing:var(--g-p2-ls);line-height:var(--g-p2-lh)}.gps-615147453678682926 .\!gp-absolute{position:absolute!important}.gps-615147453678682926 .gp-absolute{position:absolute}.gps-615147453678682926 .gp-relative{position:relative}.gps-615147453678682926 .gp-sticky{position:sticky}.gps-615147453678682926 .gp-left-0{left:0}.gps-615147453678682926 .gp-right-0{right:0}.gps-615147453678682926 .gp-z-1{z-index:1}.gps-615147453678682926 .gp-z-2{z-index:2}.gps-615147453678682926 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-615147453678682926 .gp-my-0{margin-bottom:0;margin-top:0}.gps-615147453678682926 .gp-mb-0{margin-bottom:0}.gps-615147453678682926 .gp-block{display:block}.gps-615147453678682926 .\!gp-flex{display:flex!important}.gps-615147453678682926 .gp-flex{display:flex}.gps-615147453678682926 .gp-grid{display:grid}.gps-615147453678682926 .\!gp-hidden{display:none!important}.gps-615147453678682926 .gp-hidden{display:none}.gps-615147453678682926 .gp-h-full{height:100%}.gps-615147453678682926 .\!gp-min-h-full{min-height:100%!important}.gps-615147453678682926 .gp-w-full{width:100%}.gps-615147453678682926 .gp-w-max{width:-moz-max-content;width:max-content}.gps-615147453678682926 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-615147453678682926 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-615147453678682926 .\!gp-max-w-none{max-width:none!important}.gps-615147453678682926 .gp-max-w-full{max-width:100%}.gps-615147453678682926 .gp-flex-1{flex:1 1 0%}.gps-615147453678682926 .gp-shrink-0{flex-shrink:0}.gps-615147453678682926 .gp-rotate-0{--tw-rotate:0deg}.gps-615147453678682926 .gp-rotate-0,.gps-615147453678682926 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-615147453678682926 .gp-rotate-180{--tw-rotate:180deg}.gps-615147453678682926 .gp-cursor-pointer{cursor:pointer}.gps-615147453678682926 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-615147453678682926 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-615147453678682926 .\!gp-flex-row{flex-direction:row!important}.gps-615147453678682926 .gp-flex-row{flex-direction:row}.gps-615147453678682926 .gp-flex-col{flex-direction:column}.gps-615147453678682926 .gp-flex-wrap{flex-wrap:wrap}.gps-615147453678682926 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-615147453678682926 .gp-content-start{align-content:flex-start}.gps-615147453678682926 .gp-items-center{align-items:center}.gps-615147453678682926 .gp-justify-center{justify-content:center}.gps-615147453678682926 .gp-justify-between{justify-content:space-between}.gps-615147453678682926 .gp-gap-2{gap:8px}.gps-615147453678682926 .gp-overflow-hidden{overflow:hidden}.gps-615147453678682926 .gp-text-center{text-align:center}.gps-615147453678682926 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-615147453678682926 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity,1))}.gps-615147453678682926 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-615147453678682926 .gp-duration-200{transition-duration:.2s}.gps-615147453678682926 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-615147453678682926 .before\:gp-left-0:before{content:var(--tw-content);left:0}.gps-615147453678682926 .before\:gp-top-0:before{content:var(--tw-content);top:0}@media (max-width:1024px){.gps-615147453678682926 .tablet\:\!gp-absolute{position:absolute!important}.gps-615147453678682926 .tablet\:gp-absolute{position:absolute}.gps-615147453678682926 .tablet\:gp-left-0{left:0}.gps-615147453678682926 .tablet\:gp-right-0{right:0}.gps-615147453678682926 .tablet\:gp-z-2{z-index:2}.gps-615147453678682926 .tablet\:gp-block{display:block}.gps-615147453678682926 .tablet\:\!gp-flex{display:flex!important}.gps-615147453678682926 .tablet\:\!gp-hidden{display:none!important}.gps-615147453678682926 .tablet\:gp-hidden{display:none}.gps-615147453678682926 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-615147453678682926 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-615147453678682926 .tablet\:gp-rotate-0,.gps-615147453678682926 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-615147453678682926 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-615147453678682926 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-615147453678682926 .tablet\:gp-flex-row{flex-direction:row}.gps-615147453678682926 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-615147453678682926 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-615147453678682926 .mobile\:\!gp-absolute{position:absolute!important}.gps-615147453678682926 .mobile\:gp-absolute{position:absolute}.gps-615147453678682926 .mobile\:gp-left-0{left:0}.gps-615147453678682926 .mobile\:gp-right-0{right:0}.gps-615147453678682926 .mobile\:gp-z-2{z-index:2}.gps-615147453678682926 .mobile\:gp-block{display:block}.gps-615147453678682926 .mobile\:\!gp-flex{display:flex!important}.gps-615147453678682926 .mobile\:\!gp-hidden{display:none!important}.gps-615147453678682926 .mobile\:gp-hidden{display:none}.gps-615147453678682926 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-615147453678682926 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-615147453678682926 .mobile\:gp-rotate-0,.gps-615147453678682926 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-615147453678682926 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-615147453678682926 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-615147453678682926 .mobile\:gp-flex-row{flex-direction:row}.gps-615147453678682926 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-615147453678682926 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-615147453678682926 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-615147453678682926 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-615147453678682926 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    
    <gp-sticky
    data-id="g4cUE9Aso4"
      gp-data='{"uid":"g4cUE9Aso4","setting":{"display":{"desktop":"after-first-cart-button","tablet":"after-first-cart-button","mobile":"after-first-cart-button"}},"advanced":{"d":{"desktop":true,"mobile":true,"tablet":true}}}'
      id="g4cUE9Aso4"
      data-id="g4cUE9Aso4"
      class="sticky-wrapper  g4cUE9Aso4 undefined {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
      style="--w:100%;margin:0 auto;--left:50%;--t:translateX(-50%);--left-tablet:50%;--t-tablet:translateX(-50%);--left-mobile:50%;--t-mobile:translateX(-50%);--top:auto;--bottom:0;--pos:fixed;--d:none;--top-tablet:auto;--bottom-tablet:0;--pos-tablet:fixed;--d-tablet:none;--top-mobile:auto;--bottom-mobile:0;--pos-mobile:fixed;--d-mobile:none;z-index:999"
    >
      <style>.drawer-page-content {
       transform: none !important;
      -webkit-transform: none !important;
  }</style>
      <div  style="--m:0 auto;--pt:0px;--pb:0px;--pr:0px;--pl:0px;--pt-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pl-mobile:0px;--bs:solid;--bw:0px;--bc:#121212;--shadow:0px 0px 10px 0px #0000001a;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:#7EB8A2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        <div
      data-same-height-display-contents
      
      class="gkdLSUzRCq gp-relative gp-flex gp-flex-col"
    >
      
    
      {%- assign gpBkProduct = product -%}
      
      {%- liquid
        if request.page_type != 'product'
          assign product = all_products['anneau-dentition-bebe-pour-garcons-et-filles-dentition-jouet-colliers-a-macher-durables-et-solides-jouet-dentition-accessoires-dallaitement-sans-bpa-pour-bebes-de-3-mois-et-plus-rose']
          assign productId = '8837082153127' | times: 1
          if product == empty or product == null
            paginate collections.all.products by 100000
              for item in collections.all.products
                if item.id == productId
                  assign product = item
                endif
              endfor
            endpaginate
          endif
        endif
      -%}
    
    
    {% if product != empty and product != null %}
      
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "gCDEN8JkVT" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
    
      <gp-product
        data-uid="gCDEN8JkVT"
        data-id="gCDEN8JkVT"
        
        
        gp-context='{"productId": {{ product.id }}, "preSelectedOptionIds": [], "isSyncProduct": "true", "hasPreSelected": false, "variantSelected": {{ variant | json | escape }},  "inventory_management": {{ variant.inventory_management | json | escape  }}, "inventory_policy": {{ variant.inventory_policy | json | escape }}, "inventoryQuantity": {{ variant.inventory_quantity | default: 0 }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }}}'
      >
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gCDEN8JkVT"}' data-id="gCDEN8JkVT-row" id="gCDEN8JkVT" data-same-height-subgrid-container class="gCDEN8JkVT gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-l);--pl:15px;--pb:var(--g-s-l);--pr:15px;--pt-mobile:10px;--pl-mobile:15px;--pb-mobile:10px;--pr-mobile:15px;--cg:32px;--cg-tablet:12px;--rg:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1230px;--w-tablet:100%;--w-mobile:100%;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g7SAdDrwqk gp-relative gp-flex gp-flex-col"
    >
      
    <gp-carousel-v3 gp-data='{"id":"gIZsKuwjtH","setting":{"childItem":["Item 1","Item 2","Item 3","Item 4","Item 5"],"itemNumber":{"desktop":3,"mobile":1},"sneakPeak":{"desktop":true},"sneakPeakType":{"desktop":"forward"},"sneakPeakOffsetForward":{"desktop":50},"sneakPeakOffsetCenter":{"desktop":50},"vertical":{"desktop":false},"controlOverContent":{"desktop":true},"dot":{"desktop":true},"dotStyle":{"desktop":"inside"},"dotSize":{"desktop":12},"dotGapToCarousel":{"desktop":16},"dotColor":{"desktop":"bg-1"},"dotActiveColor":{"desktop":"line-3"},"navigationEnable":{"desktop":true},"navigationStyle":{"desktop":"inside"},"arrowCustom":"<svg height=\"20\" width=\"20\" data-name=\"caret-right-regular\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508418455613473128\">\n      <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z\"></path></svg>\n    ","arrowCustomColor":"#121212","arrowIconSize":{"desktop":24},"arrowButtonSize":{"desktop":{"shapeValue":"1/1","shapeLinked":true,"padding":{"linked":true,"type":"custom","top":"16px","bottom":"16px","left":"16px","right":"16px"}}},"arrowBackgroundColor":"transparent","arrowBorder":{"desktop":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","isCustom":true}},"arrowShadow":{"desktop":{"type":"shadow-1","distance":"4px","blur":"4px","spread":"0px","color":"rgba(18, 18, 18, 0.2)","angle":45,"enable":false}},"roundedArrow":{"desktop":{"btrr":"0px","bblr":"0px","bbrr":"0px","btlr":"0px","radiusType":"none"}},"arrowGapToEachSide":"16","showWhenHover":false,"rtl":false,"autoplay":false,"autoplayTimeout":2,"pauseOnHover":true,"runPreview":false,"enableDrag":{"desktop":true},"loop":{"desktop":false},"animationMode":"ease-in","background":{"desktop":{"type":"color","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"label":true},"styles":{"sizeSetting":{"desktop":{"shapeLinked":false,"width":"100%","height":"auto"}},"backgroundImage":{"desktop":{}},"playSpeed":500,"align":{"desktop":"center"},"borderContent":{"borderType":"none","border":"none","width":"1px 1px 1px 1px","position":"all","borderWidth":"1px","color":"line-3","isCustom":true},"roundedContent":{"radiusType":"none"},"hasActiveShadow":false,"carouselShadow":{"type":"shadow-1","distance":"4px","blur":"4px","spread":"0px","color":"rgba(18, 18, 18, 0.2)","angle":45,"enable":false},"spacing":{"desktop":16},"itemPadding":{"desktop":{"padding":{}}}}}' data-id="gIZsKuwjtH" id="gp-root-carousel-gIZsKuwjtH" style="--jc:center" class="gp-group/carousel gp-w-full gp-flex">
      <div
        
        class="gIZsKuwjtH gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block"
        style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;--bgi:none;--bgi-tablet:none;--bgi-mobile:none"
      >
        <div class="gp-relative gp-overflow-hidden gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row" style="--h:100%;--h-tablet:100%;--h-mobile:100%;gap:16px">
          
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 before:gp-left-0 before:gp-top-0 gp-carousel-arrow-gIZsKuwjtH gIZsKuwjtH gp-carousel-action-back gem-slider-previous gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-absolute gp-z-2 tablet:!gp-flex tablet:!gp-absolute tablet:gp-z-2 mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--bg:transparent;--d:flex;--d-tablet:flex;--d-mobile:flex;--left:16px;--right:initial;--top:initial;--bottom:;--left-tablet:16px;--right-tablet:initial;--top-tablet:initial;--bottom-tablet:;--left-mobile:16px;--right-mobile:initial;--top-mobile:initial;--bottom-mobile:;--w:auto;--w-tablet:auto;--w-mobile:auto;--h:auto;--h-tablet:auto;--h-mobile:auto;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--shadow:none;--v:hidden"
    >
      <style type="text/css">
      .gp-carousel-arrow-gIZsKuwjtH {
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      .gp-carousel-arrow-gIZsKuwjtH::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-gIZsKuwjtH {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-gIZsKuwjtH::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-gIZsKuwjtH {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-gIZsKuwjtH::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
      style="--c:#121212;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
    >
        <svg height="20" width="20" data-name="caret-right-regular" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508418455613473128">
      <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path></svg>
    
    </div>
  
    </button>
  
          <div id="gp-carousel-gIZsKuwjtH" dir="ltr" style="overflow:hidden;flex:1;width:100%;height:100%">
            <div class="gem-slider-wrapper gp-flex gp-content-start gp-h-full gp-select-none !gp-max-w-none gp-carousel-slider-gIZsKuwjtH mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full">
              
    
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gIZsKuwjtH gp-child-item-gIZsKuwjtH gIYSak7dd6"
      style="--minw:calc(100% / 2.5 - 9.6px);--minw-tablet:calc(100% / 2.5 - 9.6px);--minw-mobile:calc(100% / 0.5 - -16px);--maxw:calc(100% / 2.5 - 9.6px);--maxw-tablet:calc(100% / 2.5 - 9.6px);--maxw-mobile:calc(100% / 0.5 - -16px);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--op:100%;--mr:16px;--mr-tablet:16px;--mr-mobile:16px"
      data-index="0"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      dir="ltr"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gIZsKuwjtH gp-child-item-gIZsKuwjtH gtdy21txVL"
      style="--minw:calc(100% / 2.5 - 9.6px);--minw-tablet:calc(100% / 2.5 - 9.6px);--minw-mobile:calc(100% / 0.5 - -16px);--maxw:calc(100% / 2.5 - 9.6px);--maxw-tablet:calc(100% / 2.5 - 9.6px);--maxw-mobile:calc(100% / 0.5 - -16px);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--op:100%;--mr:16px;--mr-tablet:16px;--mr-mobile:16px"
      data-index="1"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      dir="ltr"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gIZsKuwjtH gp-child-item-gIZsKuwjtH gdGw1YAQ3u"
      style="--minw:calc(100% / 2.5 - 9.6px);--minw-tablet:calc(100% / 2.5 - 9.6px);--minw-mobile:calc(100% / 0.5 - -16px);--maxw:calc(100% / 2.5 - 9.6px);--maxw-tablet:calc(100% / 2.5 - 9.6px);--maxw-mobile:calc(100% / 0.5 - -16px);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--op:100%;--mr:16px;--mr-tablet:16px;--mr-mobile:16px"
      data-index="2"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      dir="ltr"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gIZsKuwjtH gp-child-item-gIZsKuwjtH gi9M1C3egf"
      style="--minw:calc(100% / 2.5 - 9.6px);--minw-tablet:calc(100% / 2.5 - 9.6px);--minw-mobile:calc(100% / 0.5 - -16px);--maxw:calc(100% / 2.5 - 9.6px);--maxw-tablet:calc(100% / 2.5 - 9.6px);--maxw-mobile:calc(100% / 0.5 - -16px);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--op:100%;--mr:16px;--mr-tablet:16px;--mr-mobile:16px"
      data-index="3"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      dir="ltr"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      <div gp-el-wrapper style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%" class="gV7KaJBW27 ">
      
    <gp-countdown-timer
        data-id="gV7KaJBW27"
        gp-href
        class="gp-flex"
        style="--jc:center"
        gp-data='{"standardType":"specific-time-zone","behaviour":"standard","dateStandard":"Wed Apr 15 2026 11:18:03 GMT+0100 (heure d’Afrique de l’Ouest)","timeZone":"UTC-4","timerDaily":{"hours":10,"mins":0,"format":"am"},"timerEverygreen":{"days":0,"hours":3,"mins":0,"endTime":1775654283395,"startTime":1775643483395},"loopAfterFinish":true,"autoHideWhenTimeout":false,"enableDay":true,"dayLabel":"Day","enableHour":true,"hourLabel":"Hour","enableMinute":true,"minuteLabel":"Minute","enableSecond":true,"secondLabel":"Second","enableWeek":false,"weekLabel":"Week","redirectUrl":{"type":"stay-on-page","link":"","target":"_self"},"uid":"gV7KaJBW27","builderData":{"uid":"gV7KaJBW27","tag":"Countdown","label":"Countdown Timer","settings":{"standardType":"specific-time-zone","behaviour":"standard","dateStandard":"Wed Apr 15 2026 11:18:03 GMT+0100 (heure d’Afrique de l’Ouest)","timeZone":"UTC-4","timerDaily":{"hours":10,"mins":0,"format":"am"},"timerEverygreen":{"days":0,"hours":3,"mins":0,"endTime":1775654283395,"startTime":1775643483395},"loopAfterFinish":true,"autoHideWhenTimeout":false,"enableDay":true,"dayLabel":"Day","enableHour":true,"hourLabel":"Hour","enableMinute":true,"minuteLabel":"Minute","enableSecond":true,"secondLabel":"Second","enableWeek":false,"weekLabel":"Week","redirectUrl":{"type":"stay-on-page","link":"","target":"_self"}},"styles":{"enableLabelTextStyle":true,"numTypo":{"type":"subheading-2","attrs":{"color":"text-2","bold":true}},"colorNumber":"text-2","labelTypo":{"type":"paragraph-2","attrs":{"color":"text-1"}},"colorLabel":"text-2","textAlign":{"desktop":"center"},"padding":{"desktop":{"padding":{"type":"custom","top":"12px","left":"24px","bottom":"12px","right":"24px"}}},"backgroundItemColor":"bg-2","verticalGap":"8px","horizontalGap":"16px","itemPadding":{"desktop":{"top":"8px","bottom":"8px","left":"24px","right":"24px"}},"borderState":{"normal":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","isCustom":false}},"roundedState":{"normal":{"btrr":"8px","bblr":"8px","bbrr":"8px","btlr":"8px","radiusType":"rounded"}}},"advanced":{"spacing-setting":{"desktop":{"margin":{"bottom":0}}},"d":{"desktop":true,"tablet":true,"mobile":true},"border":{"desktop":{"normal":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","color":"line-3","isCustom":true}}},"rounded":{"desktop":{"normal":{"btrr":"0px","bblr":"0px","bbrr":"0px","btlr":"0px","radiusType":"none"}}},"hasBoxShadow":{"desktop":{"normal":false}},"boxShadow":{"desktop":{"normal":{}}},"op":{"desktop":"100%"},"animation":{"desktop":{"enabled":false,"trigger":"appear","triggerConfig":{"appear":{"animation":"fade","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}}},"childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative " style="gap:16px;--jc:center">
        
          
          
    <div style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--bs:none;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--focus-bblr:8px;--focus-bbrr:8px;--focus-btlr:8px;--focus-btrr:8px;-undefined-bblr:8px;-undefined-bbrr:8px;-undefined-btlr:8px;-undefined-btrr:8px;--bg:var(--g-c-bg-2, bg-2)" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gV7KaJBW27-text" id="day"
        class="gV7KaJBW27"
        style="--mb:8px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2 gp-g-subheading-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gV7KaJBW27-text"
        class="gV7KaJBW27"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2 gp-g-paragraph-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggV7KaJBW27_dayLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--bs:none;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--focus-bblr:8px;--focus-bbrr:8px;--focus-btlr:8px;--focus-btrr:8px;-undefined-bblr:8px;-undefined-bbrr:8px;-undefined-btlr:8px;-undefined-btrr:8px;--bg:var(--g-c-bg-2, bg-2)" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gV7KaJBW27-text" id="hour"
        class="gV7KaJBW27"
        style="--mb:8px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2 gp-g-subheading-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gV7KaJBW27-text"
        class="gV7KaJBW27"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2 gp-g-paragraph-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggV7KaJBW27_hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--bs:none;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--focus-bblr:8px;--focus-bbrr:8px;--focus-btlr:8px;--focus-btrr:8px;-undefined-bblr:8px;-undefined-bbrr:8px;-undefined-btlr:8px;-undefined-btrr:8px;--bg:var(--g-c-bg-2, bg-2)" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gV7KaJBW27-text" id="minute"
        class="gV7KaJBW27"
        style="--mb:8px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2 gp-g-subheading-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gV7KaJBW27-text"
        class="gV7KaJBW27"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2 gp-g-paragraph-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggV7KaJBW27_minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--bs:none;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--focus-bblr:8px;--focus-bbrr:8px;--focus-btlr:8px;--focus-btrr:8px;-undefined-bblr:8px;-undefined-bbrr:8px;-undefined-btlr:8px;-undefined-btrr:8px;--bg:var(--g-c-bg-2, bg-2)" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gV7KaJBW27-text" id="second"
        class="gV7KaJBW27"
        style="--mb:8px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2 gp-g-subheading-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gV7KaJBW27-text"
        class="gV7KaJBW27"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2 gp-g-paragraph-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggV7KaJBW27_secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
      </div>
     </gp-countdown-timer>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gIZsKuwjtH gp-child-item-gIZsKuwjtH g8m9TbxcMH"
      style="--minw:calc(100% / 2.5 - 9.6px);--minw-tablet:calc(100% / 2.5 - 9.6px);--minw-mobile:calc(100% / 0.5 - -16px);--maxw:calc(100% / 2.5 - 9.6px);--maxw-tablet:calc(100% / 2.5 - 9.6px);--maxw-mobile:calc(100% / 0.5 - -16px);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--mr:16px;--mr-tablet:16px;--mr-mobile:16px"
      data-index="4"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      dir="ltr"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
      </div>
    </div>
  
            </div>
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 before:gp-left-0 before:gp-top-0 gp-carousel-arrow-gIZsKuwjtH gIZsKuwjtH gp-carousel-action-next gem-slider-next gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-absolute gp-z-2 tablet:!gp-flex tablet:!gp-absolute tablet:gp-z-2 mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--bg:transparent;--d:flex;--d-tablet:flex;--d-mobile:flex;--right:16px;--left:initial;--top:;--bottom:initial;--right-tablet:16px;--left-tablet:initial;--top-tablet:;--bottom-tablet:initial;--right-mobile:16px;--left-mobile:initial;--top-mobile:;--bottom-mobile:initial;--w:auto;--w-tablet:auto;--w-mobile:auto;--h:auto;--h-tablet:auto;--h-mobile:auto;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--shadow:none;--v:hidden"
    >
      <style type="text/css">
      .gp-carousel-arrow-gIZsKuwjtH {
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      .gp-carousel-arrow-gIZsKuwjtH::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-gIZsKuwjtH {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-gIZsKuwjtH::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-gIZsKuwjtH {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-gIZsKuwjtH::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
      style="--c:#121212;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
    >
        <svg height="20" width="20" data-name="caret-right-regular" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508418455613473128">
      <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path></svg>
    
    </div>
  
    </button>
  
        </div>
        
    
        <div class="gp-carousel-dot-container gp-carousel-dot-container-gIZsKuwjtH gp-z-2 gp-flex gp-flex-1 gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-absolute gp-flex-row gp-left-0 gp-right-0 tablet:gp-absolute tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-absolute mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0" style="--bottom:16px;--bottom-tablet:16px;--bottom-mobile:16px;--d:flex;--d-tablet:flex;--d-mobile:flex">
          <!-- item render by js -->
        </div>
      
  
      </div>
    </gp-carousel-v3>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-carousel-v3-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--d-mobile:none"
      class="g8S0FKYumh gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ 'gempages.Product.product_not_found' | t }}</div>
    {% endif %}
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
      </div>
    </gp-sticky>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-sticky-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-615147453678682926 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tsm1xx-x0/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=615147438646231856&sectionId=615147453678682926)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggV7KaJBW27_dayLabel","label":"ggV7KaJBW27_dayLabel","default":"Day"},{"type":"html","id":"ggV7KaJBW27_hourLabel","label":"ggV7KaJBW27_hourLabel","default":"Hour"},{"type":"html","id":"ggV7KaJBW27_minuteLabel","label":"ggV7KaJBW27_minuteLabel","default":"Minute"},{"type":"html","id":"ggV7KaJBW27_secondLabel","label":"ggV7KaJBW27_secondLabel","default":"Second"},{"type":"html","id":"ggV7KaJBW27_weekLabel","label":"ggV7KaJBW27_weekLabel","default":"Week"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}